{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ project.title }} - Hidden Layer
{% endblock %}

{% block content %}

<!-- Highlight.js -->
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">

  <link rel="stylesheet" href="{% static 'github-markdown-dark.css' %}">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

  <script>
    hljs.highlightAll();
  </script>

  <!-- Content -->
  <main class="flex-1 max-w-7xl mx-auto px-6 py-14 w-full">

    <div class="mb-10">
      <h1 class="text-5xl font-bold mb-4">
        {{ project.title }}
      </h1>

      <p class="text-gray-400 text-lg mb-6">
        {{ project.short_description }}
      </p>

      <div class="flex flex-wrap gap-2 mb-8">
        {% for tag in project.tag_list %}
        <span class="bg-gray-800 text-blue-300 px-3 py-1 rounded-full text-sm border border-gray-700">
          {{ tag }}
        </span>
        {% endfor %}
      </div>

      {% if project.github_link %}
      <a href="{{ project.github_link }}"
         target="_blank"
         class="inline-block bg-blue-600 hover:bg-blue-700 px-6 py-3 rounded-xl transition">
        View on GitHub
      </a>
      {% endif %}
    </div>

    <!-- Markdown Content -->
    <article class="markdown-body">
      {{ rendered_markdown|safe }}
    </article>

  </main>
{% endblock %}

  