<!DOCTYPE html>
<html>
  <body style="padding: 30px; font-family: Arial, sans-serif;">    <h2>New contact.</h2>
    <br>
    <p><strong>Contact details:</strong></p>
    <br>
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Message:</strong> {{ message }}</p>
    <br>
    <hr>
    <br>
    <p>Thanks and Regards,</p>
    <table cellpadding="0" cellspacing="0" border="0" style="font-family: Georgia, serif; color:#071e81; padding:20px; border-radius:12px; max-width:1000px;">
      <tr>
        <td style="vertical-align:top; padding-right:20px;">
          <img src="https://hiddenlayer.ddns.net/static/LOGO.png" alt="HIDDEN LAYER" width="150px" style="display:block;">
        </td>

        <td style="vertical-align:top; border-left:2px solid #071e81; padding-left:20px;">
          
            <div style="font-size:15px; line-height:1.8; color:#071e81;">
            
            <strong>Github:</strong>
            <a href="https://github.com/alinanto" style="text-decoration:none;">
              @alinanto
            </a>
            <br>
            <strong>Telegram:</strong>
            <a href="https://t.me/layerzeroplus" style="text-decoration:none;">
              @layerzeroplus
            </a>
            <strong>Leetcode:</strong>
            <a href="https://leetcode.com/u/layerzeroplus/" style=" text-decoration:none;">
              @layerzeroplus
            </a>
            <br>
            <strong>Website:</strong>
            <a href="https://hiddenlayer.ddns.net" style="text-decoration:none;">
              Hidden Layer
            </a>
            <br>
            <strong>YouTube:</strong>
            <a href="https://www.youtube.com/@layerzeroplus" style="text-decoration:none;">
              @layerzeroplus
            </a>

          </div>
        </td>
      </tr>
    </table>
  </body>
</html>